@media screen and (max-width: 320px) {
  .price-table td {
    width: auto;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;
    min-width: 60px;
  }
  .type_name, .price {
    color: #fff;
    font-size: 60%;
  }
  .dipiction-td {
    color: #FFF;
    font-size: 2px;
    font-family: "Microsoft JhengHei";
    padding-right: 10px;
    line-height: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .price-table td {
    width: auto;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;
    min-width: 60px;
  }
  .type_name, .price {
    color: #fff;
    font-size: 60%;
  }
  .dipiction-td {
    color: #FFF;
    font-size: 2px;
    font-family: "Microsoft JhengHei";
    padding-right: 10px;
    line-height: 26px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .price-table td {
    width: auto;
    height: 100%;
    padding-top: 18px;
    padding-left: 30px;
    min-width: 85px;
  }
  .type_name, .price {
    color: #fff;
    font-size: 120%;
  }
  .dipiction-td {
    color: #FFF;
    font-size: 95%;
    font-family: "Microsoft JhengHei";
    padding-right: 60px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1680px) {
  .price-table td {
    width: auto;
    height: 100%;
    padding-top: 48px;
    padding-left: 30px;
  }
  .type_name, .price {
    color: #fff;
    font-size: 200%;
  }
  .dipiction-td {
    color: #FFF;
    font-size: 95%;
    font-family: "Microsoft JhengHei";
    padding-right: 60px;
    line-height: 26px;
  }
}

#content-wrap_pri {
  width: 100%;
  height: auto;
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  float: left;
  border: 1px solid #CCC;
  padding-bottom: 50px;
}

#contact-div {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
  padding-top: 50px;
  padding-bottom: 80px;
}

#contact-info {
  width: 80%;
  height: 330px;
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  margin: 50px 10%;
}

.title_contact {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  font-size: 200%;
  font-family: "Microsoft JhengHei";
  margin-bottom: 15px;
}

.small_title_contact {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  font-size: 110%;
  font-family: "Microsoft JhengHei";
  color: #3085B9;
}

.text_contact {
  width: 60%;
  height: auto;
  line-height: 24px;
  font-size: 95%;
  color: #666;
  margin-top: 5px;
}

.email_contact {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  color: #F90;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  margin-top: 00px;
  cursor: pointer;
}

.tel {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  color: #F90;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  margin-bottom: 5px;
}

.email_contact:hover {
  text-decoration: underline;
}

.price-div {
  width: 100%;
  height: 250px;
  background-color: #23406b;
  margin-bottom: 5px;
  float: right;
}

.recommend {
  width: 5%;
  height: 100%;
  min-width: 60px;
  background-color: #FAA32E;
  float: left;
}

.type-td {
  line-height: 60px;
  font-family: Verdana, Geneva, sans-serif;
}

.format-td {
  color: #fff;
  font-size: 110%;
  font-family: "Microsoft JhengHei";
}

#slogan_netSecurity, #slogan_customerCase {
  width: 100%;
  height: auto;
}

#contact-info-security {
  width: 80%;
  height: auto;
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  margin: 50px 10%;
}

.title_contact_security {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  font-size: 200%;
  font-family: "Microsoft JhengHei";
  margin-bottom: 15px;
}

.small_title_contact_security {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: -ms-inline-block;
  font-size: 110%;
  font-family: "Microsoft JhengHei";
  color: #3085B9;
}

.text_contact_security {
  width: 100%;
  height: auto;
  line-height: 24px;
  font-size: 95%;
  color: #666;
  margin-top: 5px;
}

li {
  display: list-item;
  display: -moz-list-item;
  display: -webkit-list-item;
  display: -ms-list-item;
  line-height: 24px;
  font-size: 95%;
  color: #666;
}

.customTable_main {
  width: 90%;
  height: auto;
  margin-top: 50px;
}

.customTr_main {
  width: auto;
  height: 420px;
}

.companyLogo td {
  width: auto;
  height: 100px;
}

.companyLogo img {
  width: auto;
  height: 100px;
}

.companyName {
  width: auto;
  height: 50px;
}

.companyName a {
  color: #3085B9;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
  font-family: "Microsoft JhengHei";
}

.companyName a:hover {
  text-decoration: underline;
}

.companySummary {
  width: auto;
  height: 90px;
  font-size: 0.7em;
  line-height: 1.5em;
  color: #2a2a2a;
}

.companyContent {
  font-size: 1em;
  line-height: 1.5em;
  color: #2a2a2a;
}

/*# sourceMappingURL=LoginPageContact.css.map */