.glyphicon-lg {font-size: 4em;}
.info-block .square-box {margin-right: 22px;text-align: center !important; background-color: #676767;}
.info-block.block-info .square-box {background-color: #20819e; color: #FFF;}